<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="MimeTypeFunctions.ttinclude" #>
<#@ output extension=".cs.pp" encoding="utf-8" #>
<# GenerateClass(includeAttributes: true); #>